= form_for @flight do |f|
  - if @flight.errors.any?
    #error_explanation
      %h2= "#{pluralize(@flight.errors.count, "error")} prohibited this flight from being saved:"
      %ul
        - @flight.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :depart
    = f.datetime_select :depart
  .field
    = f.label :arrive
    = f.datetime_select :arrive
  .field
    = f.label :flight_num
    = f.number_field :flight_num
  .field
    = f.label :routing
    = f.text_field :routing
  .field
    = f.label :first_class
    = f.text_field :first_class
  .field
    = f.label :coach
    = f.text_field :coach
  .actions
    = f.submit 'Save'
